@model Tiende_De_Video_Juegos.Models.videoJuego

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>videoJuego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoJuegoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoJuegoNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
